.DS_Store 
*/.DS_Store
git rm server/safencrypt-springboot/target
server/safencrypt-springboot/.idea/
server/safencrypt-springboot/target/
terminal/safencrypt-js/node_modules/
terminal/safencrypt-js/lib/
terminal/safencrypt-js/.idea/
terminal/safencrypt-js/.idea/
